In [49]:
import requests
import geopandas as gp
import pandas as pd
import matplotlib.pyplot as plt

In [15]:
parcels_url = 'https://maps.co.kendall.il.us/server/rest/services/Hosted/Current_Cadastral_Features/FeatureServer/1/query?'

In [103]:
with open('pins.txt', 'r') as file:
    pin_list = pd.Series(file.read().split('\n'))

pin_list = pin_list.str.replace('^(?=.)|(?<=.)$', "'")

pin_list

0    '07-35-400-005'
1    '07-36-300-004'
2    '07-36-300-006'
3    '07-36-100-001'
4    '07-35-200-005'
dtype: object

In [104]:
parcels_params = {
    'where': f"pin in ({','.join(pin_list.to_list())})",
    'outFields': 'gross_acres, gis_acres, pin',
    'f': 'geojson'
}

In [107]:
parcels = requests.get(parcels_url, parcels_params)

p_df = gp.read_file(parcels.text)

p_df.head()

,gross_acres,gis_acres,pin,geometry
0,81.17,81.107012,07-35-200-005,"POLYGON ((-88.50610 41.46514, -88.50124 41.465..."
1,155.46,155.391715,07-36-300-004,"POLYGON ((-88.49640 41.46517, -88.49834 41.465..."
2,5.99,5.994821,07-36-300-006,"POLYGON ((-88.49834 41.46512, -88.49834 41.465..."
3,40.00,40.318124,07-36-100-001,"POLYGON ((-88.49640 41.46522, -88.49650 41.468..."
4,69.88,69.855670,07-35-400-005,"POLYGON ((-88.50610 41.46508, -88.50610 41.465..."